@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}

:root {
    --color-text-placeholder: #54cfff;
    --color-text-primary: #063e4d;
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #e7e7e7;
    --color-bg-sidebar: #ffffff;
    --color-border: #f0f0f0;
    --color-shadow: rgba(0, 0, 0, 0.452);
    --color-hover-primary: #26b0ffe1;
    --color-hover-secondary: #dadada;
}

body.dark-theme {
    --color-text-placeholder: #a6d2a6;
    --color-text-primary: #6ae474;
    --color-bg-primary: #112718;
    --color-bg-secondary: #3d5946;
    --color-bg-sidebar: #1f3637;
    --color-border: #68fd6f;
    --color-shadow: rgba(0, 0, 0, 0.568);
    --color-hover-primary: #2dff26e1;
    --color-hover-secondary: #48566a;
}

body {
    background-color: var(--color-bg-primary);
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 280px;
    background-color: var(--color-bg-sidebar);
    border-right: 1.5px solid var(--color-border);
    box-shadow: 0 3px 8px var(--color-shadow);
    transition: width .5s ease;

}

.sidebar.collapsed {
    width: 90px;
}

.sidebar .sidebar-header {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-border);
}

.sidebar-header .header-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    transition: opacity .5s ease;
}

.sidebar.collapsed .sidebar-header .header-logo {
    opacity: 0;
    pointer-events: none;
}

.sidebar-header .sidebar-toggle {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
    transition: .5s, ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggle {
    height: 50px;
    width: 50px;
    transform: translateX(-2px);
}

.site-nav .sidebar-toggle:hover,
.sidebar-header .sidebar-toggle:hover {
    background: var(--color-hover-secondary);
}

.sidebar-header .sidebar-toggle span {
    font-size: 2rem;
    transition: transform 1s ease;
}

.sidebar.collapsed .sidebar-toggle span {
    transform: rotate(180deg);
}

.sidebar .sidebar-content {
    flex: 1;
    padding: 20px 20px;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-placeholder) transparent;

}

.sidebar.sidebar.collapsed .sidebar-content {
    scrollbar-width: none;
}

.sidebar-content .search {
    min-height: 50px;
    border-radius: 10px;
    padding: 0 15px;
    background: var(--color-bg-secondary);
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 5px 0 20px;
    cursor: pointer;

}

.sidebar.collapsed .sidebar-content .search:hover,
.sidebar-content .search:focus-within {
    background: var(--color-hover-secondary);
    cursor: pointer;
}

.search input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--color-text-primary);
    font-size: 1rem;
    margin-left: 10px;
}

.search input::placeholder {
    color: var(--color-text-placeholder);

}

.search span {
    color: var(--color-text-placeholder);

}

.sidebar-content .menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.menu-list .menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin: 6px 0;
    padding: 15px 12px;
    border-radius: 10px;
    color: var(--color-text-primary);
    transition: .3s ease;
}

.link-text {
    transition: opacity .3s ease;
}

.sidebar.collapsed .menu-link .link-text {
    opacity: 0;
    pointer-events: none;
}

.menu-list .menu-link:hover {
    color: white;
    background: var(--color-hover-primary);
}

.sidebar .sidebar-footer {
    padding: 20px 10px;
    white-space: nowrap;
    border-top: 2px solid var(--color-border);
}

.sidebar-footer .theme-toggle {
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border: none;
    border-radius: 10px;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    cursor: pointer;
    transition: .5s ease;

}

.sidebar-footer .theme-toggle:hover {
    background: var(--color-hover-secondary);
}

.theme-toggle .theme-label {
    display: flex;
    gap: 8px;
    align-items: center;
}

.sidebar.collapsed .theme-toggle {
    width: 58px;
}

.theme-toggle .theme-label .theme-text {
    font: 1rem;
    transition: opacity .2s .3s ease;
}

.sidebar.collapsed .theme-toggle :where(.theme-text, .theme-toggle-track) {
    width: 0;
    opacity: 0;
    transition: all .5s ease;
}

.theme-toggle .theme-toggle-track {
    height: 25px;
    width: 48px;
    position: relative;
    border-radius: 500px;
    margin-left: auto;
    background: #c2c2c2;
    transition: opacity .2s .3s ease, background .3s ease;
}

body.dark-theme .theme-toggle .theme-toggle-track {
    background: #028608;
}

.theme-toggle-track .theme-toggle-indicator {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 18px;
    width: 18px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
}

body.dark-theme .theme-toggle-track .theme-toggle-indicator {
    transform: translateX(25px);
}

.container {
    display: flex;
}

.container .main-content {
    flex: 1;
    padding: 30px;
    color: var(--color-text-primary);
}

.main-content .page-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-content .card {
    border-radius: 10px;
    padding: 20px;
    background: var(--color-bg-sidebar);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


@media (max-width: 600px) {
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.6);
    }

    .sidebar {
        position: fixed;
        left: 0;
        width: 270px;
        height: 100%;
        z-index: 20;
        transition: left .4s ease, width .4s ease;
    }

    .sidebar.collapsed {
        padding: 2px;
        width: 100px;
    }
}
